@media (max-width: 1400px)
  .footer
    &__wrapper
      justify-content: flex-start
    &-form
      width: 50%
      &__form
        width: 90%
      &__input
        width: 98%
      &__title
        font-size: 30px
        margin-bottom: 30px
    &-card
      width: 45%
      &__img
        object-fit: cover
      &__wrapper
        width: 100%
      &__info
        padding: 21px 23px 16px 17px
@media (max-width: 1200px)
  .container
    max-width: 960px
  .search
    padding: 0 130px
  .form
    width: 100%
  .offers
    &__title
      line-height: 43px
      margin-bottom: 15px
    &__info
      margin-bottom: 14px
  .popular
    &-article
      width: 465px
      height: 550px
      padding: 250px 38px 42px 38px
  .recent
    &__article
      width: 310px
      height: 470px
      padding: 260px 20px 40px 20px
    &__br
      display: none
  .all-articles
    &-secondary
      padding: 215px 22px 40px 22px
      &__br
        display: none
  .footer
    &-grid
      max-width: 100%
      margin-left: 0
    &__bg
  .examples
    &-grid
      &__button
        width: 42px
        height: 42px
        &--prev
          transform: translateX(-30%)
        &--next
          transform: translateX(30%)
  .content
    &__subtitle
      font-size: 40px
@media (min-width: 992px)
  a
    z-index: 300
    &:hover
      opacity: 0.9 !important
  button
    &:hover
      opacity: 0.7
  li
    &:hover
      color: #37DBCB
  .submenu > li
    &:hover
      border-left: 1px solid #37DBCB
  .submenu-second > li
    &:hover
      border-left: 1px solid #37DBCB
  .all-articles
    &-main
      cursor: pointer
      &:hover
        opacity: 0.9
    &-secondary
      cursor: pointer
      &:hover
        opacity: 0.9
  .modal
    &__close
      &:hover
        opacity: 0.7
  .article
    &__button
      &:hover
        opacity: 0.7
@media (max-width: 992px)
  .container
    max-width: 720px
  .header
    &__bg
      height: 550px
    &__title
      padding: 0
      padding-bottom: 100px
  .search
    padding: 0 60px
  .offers
    &__wrapper
      padding: 25px 48px 25px 32px
      justify-content: space-between
    &__title
      font-size: 22px
      line-height: 30px
    &__info
      width: 100%
      font-size: 17px
      line-height: 28px
  .popular
    &__info
      width: 440px
    &__button
      margin-bottom: 38px
    &__text
      font-size: 16px
      line-height: 25px
    &-article
      width: 350px
      min-height: 350px
      height: 350px
      padding: 180px 20px 20px 20px
      &__title
        font-size: 25px
        line-height: 26px
      &__offer
        top: 16px
        left: 16px
        font-size: 14px
        line-height: 16px
  .recent
    &__info
      width: 440px
    &__button
      margin-bottom: 0
      margin-right: 0
    &__text
      font-size: 14px
      line-height: 18px
      &--big
        height: 72px
    &__article
      width: 230px
      min-height: 320px
      height: 320px
      padding: 120px 12px 20px 12px
    &__title
      font-size: 17px
      line-height: 25px
    &__author
      align-items: flex-end
  .author
    &__name
      &--recent
        font-size: 12px
        line-height: 18px
    &__date
      &--recent
        font-size: 12px
        line-height: 18px
    &--article
      margin-bottom: 31px
  .verify
    &__text
      &--recent
        font-size: 12px
        line-height: 18px
  .examples
    &-grid
      &__button
        width: 35px
        height: 35px
  .all-articles
    &__wrapper
      grid-template: 420px 420px 420px / repeat(2, 1fr)
      grid-template-areas: "first second" "third fourth" "fifth fifth"
      row-gap: 20px
      column-gap: 20px
    &__info
      width: 81%
    &-main
      padding: 220px 19px 42px 19px
      min-height: 420px
      &__title
        font-size: 25px
        line-height: 26px
      &__offer
        top: 15px
        left: 15px
    &-secondary
      padding: 180px 19px 42px 19px
      min-height: 400px
      &__title
        font-size: 26px
        line-height: 32px
      &__text
        font-size: 16px
        line-height: 22px
  .about
    &__info
      width: 73%
  .footer
    &__bg
      min-height: 1450px
      max-height: 1450px
      &--details
        min-height: 1550px
        max-height: 1550px
    &-card
      display: none
    &-form
      width: 97%
      padding-bottom: 0
      &__title
        font-size: 35px
      &__form
        width: 100%
      &__input
        width: 95%
      &__info
        font-size: 15.9px
        width: 100%
    &__wrapper
      padding-bottom: 150px
    &-grid
      grid-template: 2fr/ repeat(4, 1fr)
      grid-template-areas: "second third fourth fifth" "first first first first"
      row-gap: 92px
      &__item
        font-size: 14px
      &__icon
        width: 185px
        height: 58px
        margin-bottom: 38px
      &__text
        width: 100%
      &__links
        width: 100%
      &__about
        grid-area: first
        justify-self: center
        display: flex
        flex-direction: column
        align-items: center
      &__product
        justify-self: center
        grid-area: second
      &__service
        justify-self: center
        grid-area: third
        padding-left: 0
      &__company
        justify-self: center
        grid-area: fourth
        padding-left: 0
      &__more
        justify-self: center
        grid-area: fifth
        padding-right: 0
        margin-right: 0
      &--details
        padding: 0
        padding-bottom: 79px
    &-copyright
      padding-right: 0
      padding-left: 0
  .modal
    &__wrapper
      width: 540px
  .article
    &-preview
      &__img
        width: 700px
    &__wrapper
      width: 700px
    &-slider
      width: 700px
    &-comments
      &__form
        width: 700px
  .content
    padding: 250px 20px
@media (max-width: 768px)
  .header
    &__bg
      height: 552px
      min-height: 552px
    &__title
      font-size: 31px
      line-height: 50px
      padding-bottom: 200px
    &-button
      display: flex
      padding-right: 9px
      padding-top: 3px
      cursor: pointer
  .container
    width: 540px
  .navbar
    display: none
    &__wrapper
      display: flex
      justify-content: space-between
      width: 100%
    &-mobile
      display: none
      &--visible
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 50px 70px 50px 70px
        width: 100vw
        min-height: 200px
        overflow-y: auto
      &__item
        display: flex
        justify-content: center
        margin: 0
        width: 45%
        font-size: 20px
        line-height: 30px
      &__list
        width: 100%
        justify-content: space-between
        height: 66%
      &__btn
        margin: 0
        width: 50%
        min-width: 250px
  .form
    &__input
      height: 40px
    &__button
      padding: 7px 18px
      font-size: 14px
      line-height: 18px
  .search
    &__title
      margin-bottom: 20px
    &__tags
      margin-bottom: 10px
  .offers
    &-grid
      height: 280px
    &__wrapper
      padding: 15px
    &__title
      font-size: 15px
      line-height: 22px
    &__info
      font-size: 13px
      line-height: 20px
  .author
    &__name
      font-size: 12px
      line-height: 18px
    &__date
      font-size: 12px
      line-height: 18px
  .verify
    &__text
      font-size: 12px
      line-height: 18px
  .popular
    &__info
      width: 370px
    &__title
      font-size: 30px
      line-height: 45px
    &__text
      font-size: 14px
    &__button
      font-size: 14px
      margin-bottom: 0
    &-article
      width: 260px
      height: 290px
      padding: 120px 20px 20px 20px
  .recent
    &__wrap
      width: 100%
    &__wrapper
      flex-wrap: wrap
    &__article
      width: 100%
      margin-bottom: 16px
      padding-top: 160px
      background-size: cover
    &__title
      font-size: 32px
    &__text
      font-size: 14px
      &--big
        height: auto
    &__button
      margin-bottom: 7px
      margin-right: 0
      font-size: 14px
  .about
    margin-bottom: 25px
    &__info
      width: 350px
    &__title
      font-size: 30px
    &__text
      padding-top: 0
      font-size: 14px
      width: 70%
      max-width: 70%
  .article
    &-preview
      &__img
        width: 540px
    &__wrapper
      width: 540px
    &-text
      padding-bottom: 50px
    &-slider
      width: 540px
    &-quote
      width: 540px
      &__text
        font-size: 24px
        line-height: 60px
    &__button
      transform: translateX(0)
      width: 40px
      height: 40px
      &--prev
        left: -10px
      &--next
        right: -10px
    &-comments
      &__form
        width: 540px
      &__text
        width: 65%
  .footer
    &-form
      &__input
        width: 95%
  .content
    padding: 160px 20px
@media (max-width: 576px)
  body
    margin-left: 0 !important
  .container
    width: 90%
  .navbar
    &-mobile
      &__item
        margin: 0
        width: 45%
        font-size: 16px
        line-height: 24px
        &__list
          width: 85%
          justify-content: space-between
          height: 60%
      &__logo
        width: 77px
        height: 24px
  .header
    &__bg
      height: 482px
      &--details
        min-height: 428px
        max-height: 428px
    &__wrapper
      margin-bottom: 11px
      padding: 13px 0 26px 8px
      &--details
        display: flex
        margin-bottom: 11px
        padding: 11.7px 0px 21px 8px
        justify-content: space-between
    &__logo
      width: 77px
      height: 24px
    &__title
      padding: 35px 0px 117px 0px
      font-size: 32px
      line-height: 40px
      margin-bottom: 0
  .search
    padding: 20px 7px 20px 9px
    margin-left: -1px
    &__list
      flex-wrap: wrap
    &__title
      font-size: 32px
      line-height: 40px
      margin-bottom: 30px
      margin-left: -4px
    &__tags
      font-size: 14px
      line-height: 20px
      margin-bottom: 12px
    &__item
      margin-right: 12px
      margin-bottom: 11px
      border-radius: 4px
  .form
    display: flex
    flex-wrap: wrap
    margin-bottom: 16px
    &__img
      top: 21%
      transform: translateY(-50%)
      left: 16px
    &__input
      padding-left: 44px
      padding-right: 5px
      height: 48px
      margin-bottom: 12px
    &__button
      position: relative
      top: 0
      left: 0
      transform: translateY(0)
      width: 100%
      height: 48px
      font-size: 16px
      line-height: 22px
  .offers
    padding-top: 3px
    padding-bottom: 49px
    &-grid
      flex-direction: column
      height: auto
      padding: 0
    &__img
      width: 100%
      height: 160px
    &__wrapper
      width: 100%
      border-radius: 0 0 16px 16px
      padding: 23px 19px
      min-height: 288px
    &__text
      text-transform: uppercase
      margin-bottom: 8px
      padding: 2px 0
      width: auto
      padding: 2px 12px
    &__title
      font-size: 20px
      line-height: 24px
      margin-bottom: 0
    &__info
      font-size: 14px
      line-height: 24px
      margin-bottom: 19px
  .author
    &__avatar
      width: 36px
      height: 36px
    &__name
      font-size: 14px
      line-height: 20px
    &__date
      font-size: 14px
      line-height: 20px
  .popular
    padding-top: 0
    padding-bottom: 56px
    &__wrapper
      flex-wrap: wrap
      justify-content: center
    &__about
      flex-wrap: wrap
      margin-bottom: 32px
      justify-content: center
    &__title
      font-size: 24px
      line-height: 32px
      text-align: center
    &__text
      font-size: 11px
      line-height: 24px
      text-align: center
      padding-top: 12px
    &__button
      display: none
      &--media
        display: flex
        font-size: 16px
        line-height: 22px
        padding: 7px 18px
    &__link
      width: 100%
    &-article
      width: 100%
      min-height: 320px
      margin-bottom: 16px
      border-radius: 12px
      padding: 164px 20px 20px 20px
      &--second
        padding: 181px 20px 20px 20px
        margin-bottom: 32px
      &__offer
        padding: 4px 8.5px
        top: 20px
        left: 20px
      &__title
        font-size: 20px
        line-height: 24px
    &__icon
      margin-left: 7px
  .author
    padding-top: 9px
    &__info
      margin-top: -3px
  .recent
    padding-top: 11px
    padding-bottom: 35.5px
    &__wrapper
      justify-content: center
    &__button
      display: none
      &--media
        display: flex
    &__article
      border-radius: 12px
      padding: 160px 20px 20px 20px
    &__title
      font-size: 20px
      line-height: 24px
      margin-bottom: 8px
    &__text
      font-size: 14px
      line-height: 21px
      margin-bottom: 2px
      &--big
        line-height: 24px
        margin-bottom: 17px
    &__article
      &--third
        margin-bottom: 44px
    &__button
      &--media
        padding: 7px 18px
        font-size: 16px
        line-height: 22px
        margin-left: -4px
    &__icon
      margin-left: 7px
  .about
    margin-bottom: 7px
    &__title
      font-size: 24px
      line-height: 32px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 2px
      margin-left: 1px
      &--examples
        margin-left: -5px
        margin-bottom: 12px
    &__text
      font-size: 14px
      line-height: 24px
      text-align: center
      width: 100%
      max-width: 100%
    &__info
      width: 100%
  .author
    &__date
      &--recent
        padding-bottom: 12px
      &--details
        font-weight: 600
        font-size: 10px
        line-height: 14px
        text-align: right
        margin-right: 0
    &--bottom
      padding-top: 19px
      padding-bottom: 13px
      margin-bottom: 28px
    &--second
      padding-top: 4px
  .examples
    padding-bottom: 43px
    &-slider
      margin-bottom: 28px
    &-grid
      display: flex
      flex-wrap: wrap
      justify-content: center
      &__icon
        width: 10px
        height: 10px
      &__button
        width: 39px
        height: 40px
        top: 27.5%
        &--prev
          left: 0
        &--next
          right: 0
    &__button
      display: none
      &--media
        display: flex
        font-size: 16px
        line-height: 22px
        padding: 7px 19px 7px 16px
        margin-left: -10px
    &__text
      font-size: 14px
      line-height: 20px
      padding: 2px 18px
    &__icon
      margin-left: 8px
  .verify
    &__text
      &--examples
        font-size: 12px
        line-height: 16px
  .all-articles
    padding-bottom: 134px
    &__info
      display: flex
      justify-content: center
      width: 100%
      margin-left: -3px
    &__title
      font-size: 24px
      line-height: 32px
      margin-bottom: 11px
    &__text
      font-size: 14px
      line-height: 24px
      text-align: center
      margin-bottom: 27px
    &__wrapper
      grid-template: repeat(6, 320px) / 1fr
      grid-template-areas: "first" "second" "third" "fourth" "fifth" "sixth"
      row-gap: 16px
      margin-bottom: 32px
    &-main
      padding: 164px 20px 20px 20px
      min-height: 320px
      &__offer
        top: 23px
        left: 19px
        font-size: 14px
        line-height: 20px
        padding: 2px 8.5px
      &__title
        font-size: 20px
        line-height: 24px
      &--second
        padding: 188px 20px 20px 20px
    &-secondary
      padding: 160px 20px 20px 20px
      min-height: 320px
      &__title
        font-size: 20px
        line-height: 24px
        margin-bottom: 8px
        &--media
          margin-bottom: -7px
      &__text
        font-size: 14px
        line-height: 21px
        margin-bottom: 0
      &--sixth
        display: flex
    &-button
      &__button
        padding: 7px 18px 7px 17px
      &__icon
        margin-left: 8px
  .footer
    &__bg
      min-height: 1230px
      max-height: 1230px
      object-fit: cover
      &--details
        min-height: 1243px
        max-height: 1243px
    &__wrapper
      padding-left: 8px
      padding-bottom: 61px
      &--details
        padding-bottom: 68px
    &-form
      &__title
        font-size: 24px
        line-height: 32px
        width: 70%
        letter-spacing: 0.2px
        margin-bottom: 8px
      &__form
        display: flex
        flex-direction: column
        flex-wrap: wrap
        width: 100%
        margin-bottom: 0
      &__input
        width: 97%
        height: 48px
        margin-bottom: 12px
      &__button
        width: 97%
        padding: 11.9px 49px
      &__info
        margin-top: 0
        font-size: 14px
        line-height: 27px
    &-grid
      grid-template: 3fr / repeat(2, 1fr)
      grid-template-areas: "second third" "fourth fifth" "first first"
      padding-left: 8px
      row-gap: 20px
      padding-bottom: 74px
      &__about
        justify-self: center
      &__product
        justify-self: start
      &__service
        justify-self: start
        padding-left: 4px
      &__company
        justify-self: start
      &__more
        justify-self: start
        padding-left: 4px
      &__title
        font-size: 16px
        line-height: 22px
        margin-bottom: 20px
      &__item
        margin-bottom: 13px
      &__icon
        width: 77px
        height: 24px
        margin-top: 13px
        margin-left: -7px
        margin-bottom: 0
      &__text
        margin-top: 13px
        font-size: 14px
        line-height: 28px
        text-align: center
        margin-left: -18px
        margin-bottom: 23px
      &__links
        width: 75%
        justify-content: start
        padding-left: 11px
      &__link
        margin-right: 23px
    &-copyright
      display: none
    & label
      bottom: 21%
      left: 30%
      border: none
  .modal
    &__wrapper
      max-width: 90%
      padding: 50px 15px 30px 15px
      max-height: 450px
    &__title
      font-size: 20px
      line-height: 34px
    &__text
      font-size: 14px
      line-height: 26px
      margin-bottom: 15px
    &__input
      margin-bottom: 0
      margin-top: 20px
      font-size: 14px
      line-height: 20px
    &__button
      font-size: 14px
      line-height: 20px
      height: 48px
      margin-top: 20px
  .navbar
    &-mobile
      &--visible
        padding: 30px 20px 30px 20px
  .article
    &__prologue
      font-size: 16px
      line-height: 28px
      margin-bottom: 35px
    &__br
      display: block
    &-preview
      &__img
        width: 100%
        margin-left: 0
        height: 200px
        margin-bottom: 7px
      &__info
        font-size: 12px
        line-height: 16px
        text-align: center
        padding-left: 0
    &__wrapper
      width: 85%
      padding: 0
    &-text
      padding-bottom: 50px
      padding-bottom: 0
      &--small
        padding-top: 111.5px
      &__title
        font-size: 21px
        line-height: 32px
        letter-spacing: 0.2px
        margin: 0
        margin-top: 56px
        margin-bottom: 19px
        &--mb
          margin-top: 0
          font-size: 24px
          line-height: 32px
          letter-spacing: 0.2px
          margin-bottom: 10px
      &__text
        font-size: 12px
        line-height: 22px
        width: 100%
        margin-bottom: 38px
        &--mb
          margin-left: 2px
          margin-bottom: 22px
        &--lh
          margin-bottom: 28px
          padding-bottom: 0
        &--media
          margin-bottom: 74px
        &--pb
          margin-bottom: 77px
      &__subtitle
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.2px
        margin-right: -10px
        margin-bottom: 10.4px
        &--mblh
          margin-bottom: 16px
        &--mb
          margin-bottom: 12px
    &-slider
      width: 272px
      height: 200px
      margin-left: -14px
    &__slider
      &-info
        font-size: 12px
        line-height: 16px
        text-align: center
        margin-top: 9px
        margin-left: -17px
    &__button
      top: 39%
      transform: translateX(0)
      width: 40px
      height: 40px
      &--prev
        left: -30px
      &--next
        right: -14px
    &-quote
      width: 100vw
      margin-right: 0
      border-radius: 0
      background: url(../img/article/quote-bg-modal.jpg)
      background-repeat: no-repeat
      background-size: cover
      padding: 53px 24px 75px 24px
      &__text
        font-size: 23px
        line-height: 30px
        text-align: center
        letter-spacing: 1px
        margin-top: 35px
        margin-bottom: 62px
      &__info
        font-size: 16px
        line-height: 22px
        text-align: center
        width: 87%
        padding-left: 37px
      &__avatar
        width: 98px
        height: 98px
      &__icon
        height: 34px
    &-grid
      grid-template: 1fr 100px / 1fr 1fr
      grid-template-areas: "first first" "second third"
      width: 100%
      margin-right: 0
      padding-top: 59px
      row-gap: 12px
      column-gap: 12px
      padding-top: 62px
      &__img
        height: 176px
        border-radius: 16px
        &--second
          height: 100px
        &--third
          height: 100px
    &__info
      font-size: 12px
      line-height: 16px
      text-align: center
      margin-right: 0
      margin-bottom: 33px
    &-share
      display: flex
      width: 73%
      justify-content: space-between
      &__text
        margin-bottom: 29px
      &__icon
        margin-bottom: 29px
      &-wrapper
        display: flex
        justify-content: start
        width: 100%
    &-comments
      padding-bottom: 152px
      &__form
        width: 100%
      &__title
        font-size: 24px
        line-height: 32px
        margin-bottom: 20px
      &__comment
        flex-direction: column
        margin-bottom: 12px
        &--mb
          margin-bottom: 14px
      &__name
        font-size: 14px
        line-height: 20px
      &__date
        font-size: 12px
        line-height: 18px
      &__avatar
        width: 36px
        height: 36px
      &__text
        width: 96%
        margin-top: 19px
        font-size: 14px
        line-height: 24px
        padding: 16px
      &__button
        padding: 9px 18px
        position: static
        transform: translate(0, 0)
        font-size: 16px
        line-height: 22px
      &__input
        padding: 20px 22px 18px 68px
        min-height: 60px
        font-size: 14px
        line-height: 20px
        margin-bottom: 16px
  .content
    &__title
      &--thanks
        font-size: 50px
    &__subtitle
      font-size: 30px
    &__btn
      display: flex
      padding: 20px 40px
  label
    left: 0
    bottom: -15px
    font-size: 12px
    border-bottom: 1px solid #EB2F29
    color: #EB2F29
